$color--white: rgb(255, 255, 255);
$color--black: rgb(0, 0, 0);
$color--title: rgb(23, 109, 186);
$color--hover: rgb(235, 0, 139);
@font-face {
  font-family: fontT;
  src: url(SVN-GilroyBold.otf);
}
.category__item
{
  position: relative;
  width: 100%;
  height: 554px;
}
html {
  font-size: 62.5%;
}
@mixin over3 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
@mixin over2 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
@mixin over1 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
@mixin title {
  color: $color--title;
  line-height: 3rem;
  font-family: fontT;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@mixin rectanglegadiant($width: 100px, $height: 20px) {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.6026785714285714) 2%,
    rgba(4, 173, 237, 1) 94%
  );
  width: $width;
  height: $height;
  margin-top: 7px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  width: 100%;
}
.header {
&__logo{
  margin-left: 3%;
  width: 13.5%;
  &--image{
    z-index: 4;
 position: relative;
    
   
  }
}

  &__contact {
    position: absolute;
   
    display: flex;
    top: 0;
    left: 26.5%;
    width: 73.5%;
  
    font-size: 1.3rem;
    background: rgb(0, 173, 238);
    background: linear-gradient(
      63deg,
      rgba(0, 173, 238, 1) 14%,
      rgba(43, 56, 143, 1) 94%
    );
    color: $color--white;
    padding: 16px 0;
    li {
      &:nth-child(1) {
      margin-left: 5.5%;
      }
      &:nth-child(2) {
        margin-left: 5.8%;
      }
      &:nth-child(3) {
        margin-left: 6.2%;
      }
      &:nth-child(4) {
        cursor: pointer;
        margin-left: 7.8%;
        span {
          font-weight: 700;
        }
      }

      &:nth-child(5) {
        cursor: pointer;
        margin-left: 12%;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background-color: rgb(0, 172, 237);
      top: 41px;
      left: -80px;
      height: 2px;
      width: 160px;
      transform: rotate(117deg);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: white;
      top: -50px;
      left: -76px;
      height: 48px;
      width: 165px;
      transform: rotate(117deg);
    }
  }
  &__link {
    top: 40px;
    position: absolute;
    left: 26.5%;
    width: 73.5%;
    display: flex;
    justify-content: space-between;
    padding-left: 16%;
    padding-right: 15%;
    font-size: 1.4rem;
    margin: 25px 0;
    margin-left: -13px;
    font-weight: 700;
    a{
      color: $color--black;
    }
  }
  &__fb{
    position: relative;
  }
  &__facebook{
    width: 146px;
    height: 40px;
    position: absolute;
    top: -13px;
    left: -41px;
  
}
}
.background {
  width: 100%;
  &--style {
    width: 100%;
  }
}

.service {
  cursor: pointer;
  margin-top: 54px;
  &__img {
    width: 100%;
    height: 200px;
    position: relative;
    &--style{
      width: 100%;
     height: 100%;
  }
    &--medical{
        width: 47px;
        height: 64px;
    }
    &--scope{
      width: 64px;
      height: 64px;
    }
 
    &:hover {
      .mask {
        transition: 0.3s;
        background-color: $color--hover;
      }
    }
    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(35, 41, 69, 0.6);
      top: 0;
      left: 0;
    }
    &--icon {
      margin-top: 29px;
      margin-left: 20px;
      
      display: flex;
      position: absolute;
      z-index: 1;

      top: 0;
      left: 0;
    }
 
  }
  &__content {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;

    &--title {
      font-family: fontT;
      font-weight: bold;
      color: $color--white;

      font-size: 2.6rem;
    }
    &--text {
      margin-top: 5px;
      font-size: 1.4rem;
      line-height: 18px;
      color: white;
      font-weight: 400;
      @include over3();
      max-width: 95%;

      &--over{
        -webkit-line-clamp: 2;
        max-width: 70%;
      }
    }
    &--link {
      margin-top: 12px;
      font-weight: bold;
      font-size: 1.4rem;
      color: $color--white;
     
      span {
        margin-left: 19px;
      }
    }
  }
}
.new {
  .space {
    width: 100%;
    height: 30px;
  }
  margin-top: 130px;
  .tag {
    
   
    display: flex;
    &__rec {
      @include rectanglegadiant();
    }

    &__title {
      @include title();
    }
  }
  .slider-container {
    cursor: pointer;
    position: relative;
    &__button {
      z-index: 4;
      position: absolute;
      padding: 4px 6px;
      background-color: $color--hover;
      display: inline-block;
      border-radius: 1rem;
      font-size: 16px;
      color: $color--white;
      top: 12px;
      left: 24px;
    }
    
    &__title {
      z-index: 4;
      line-height: 1.5;
      position: absolute;
      bottom: 86px;
      left: 21px;
      font-size: 1.8rem;
      font-weight: 600;
      width: 95%;
      color: $color--white;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        transition: 0.3s;
        color: $color--hover;
      }
    }
    &__mask {
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.59) 80%
      );
    }
    &__content {
      z-index: 4;
      position: absolute;
      bottom: 42px;
      left: 23px;
      font-size: 1.4rem;
      font-weight: 400;
      color: $color--white;
      line-height: 1.5;
      display: block;
      display: -webkit-box;
      max-width: 86%;
      margin: 0 auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
.box{
 
  max-width: 100%;
  height: 417px;
  .extra {
 
  
    cursor: pointer;
    display: flex;
   

    &__img {
      margin-top: 40px;
      img {
        width: 106px;
        height: 84px;
        object-fit: cover;
      }
    }
    &__info {
      max-width: 100%;
      margin-top: 40px;
      margin-left: 10px;
    }
    &__title {
      @include over2();
    max-width: 100%;

      font-size: 1.4rem;
      font-weight: bold;
      line-height: 15px;
      &:hover {
        transition: 0.3s;
        color: $color--hover;
      }
    }
    &__content {

      @include over1();
      max-width: 95%;
      margin-top: 6px;
      font-size: 1.3rem;
      font-weight: 400;
    }
    &__time {
      margin-top: 10px;
      font-size: 1.3rem;
      opacity: 0.6;
    }
  }}
  .video {
    width: 100%;
    height: 417px;
  
    &__img {
      position: relative;
    &--service {
        width: 455px;
        height: 417px;
        object-fit: cover;
      }

    
    }
    &__slide{
      .mySlides{
        width:100%;
        height:417px ;
        object-fit: cover;
      }
      &--left{
        cursor: pointer;
        position: absolute;
        top: 153px;
        left: -20px;
     width: 44px;
          height: 44px;
      }
      &--right{
        cursor: pointer;
          position: absolute;
          top: 153px;
            right: -20px;
           width: 44px;
            height: 44px;
      }
    }
    
    &__mask {

      bottom: 0;
      left: 0;
      position: absolute;
  width: 100%;
    height: 96px;
      opacity: 0.8;
      background-color: $color--hover;
    }
    &__title {
      @include over2();
      cursor: pointer;
      position: absolute;
      color: white;
      bottom: 26px;
      left: 16px;
      font-size: 1.8rem;
      font-weight: 600;
      width: 93%;
      line-height: 1.5;
      &:hover {
        transition: 0.3s;
        color: rgb(170, 169, 169);
      }
    }
    &__link {
      cursor: pointer;
      position: absolute;
      bottom: 26px;
      right: 17px;
      font-size: 1.3rem;
      font-weight: 400;
      font-style: italic;

      color: white;
      line-height: 1.5;
      &:hover {
        transition: 0.3s;
        color: rgb(170, 169, 169);
      }
    }
  }
}

.category {
  .space-create {
    width: 100%;
    height: 80px;
  }
  position: relative;
  a {
    position: absolute;
    color: $color--black;
    text-decoration: underline;
    font-size: 1.3rem;
    opacity: 0.5;
    top: 50px;
    right: 14px;
  }
  margin-top: 80px;
  .tag {
    display: flex;

    &__rec {
      @include rectanglegadiant();
    }
    &__title {
      @include title();
    }
  }
  .info {
    &__image {
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
    &__title {
      padding-left: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      width: 95%;
      color: $color--hover;
      line-height: 1.5;
      &:hover {
        color: rgb(111, 111, 111);
        transition: 0.3s;
      }
    }
    &__content {
      @include over2();
      padding-left: 10px;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 400;
      max-width: 95%;
      color: $color--black;
      line-height: 1.5;
    }
    &__time {
      padding-left: 10px;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 400;
      width: 95%;
      color: $color--black;
      line-height: 1.5;
      opacity: 0.5;
    }
  }
  .extra {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &__img {
      img {
        width: 82px;
        height: 60px;
      }
    }
    &__title {
      @include over2();
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      max-width: 75%;
      color: $color--black;
      line-height: 1.5;
      &--time {
        font-weight: 400;
        opacity: 0.5;
      }
      &:hover {
        color: $color--hover;
        transition: 0.3s;
      }
    }
  }

  .hero {
    cursor: pointer;
    position: relative;
    &__image {
      img {
        width: 100%;
        height: 340px;
      }
    }
    &__mask {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: black;
      opacity: 0.5;
    }
    &__title {
      @include over2();
      font-weight: 600;
      position: absolute;
      bottom: 40px;
      left: 20px;
      width: 85%;
      font-size: 1.6rem;
      line-height: 1.8;
      color: $color--white;
      &:hover {
        color: $color--hover;
        transition: 0.3s;
      }
    }
    &__time {
      font-size: 1.4rem;
      line-height: 2.2;
      position: absolute;
      bottom: 10px;
      left: 20px;
      color: white;
      font-weight: 400;
    }
  }
}
.team {

  .person{
    display: none;
    top: 38%;
    left: 12%;
   position: absolute;
  }
  .background {
    img {
      width: 100%;
      height: 711px;
      object-fit: cover;
      &--main{
        display: block;
      }
    }
  }
  position: relative;
  .title {
    margin-top: 100px;
    display: flex;
    &__rec {
      @include rectanglegadiant();
    }
    &__text {
      @include title();
    }
  }
  .content {
  @include over1();
    position: absolute;
    -webkit-line-clamp: 4;
    margin-top: 20px;
    font-size: 15px;
    color: $color--black;
    width: 700px;
    line-height: 1.5;
    top: 174px;
    left: 369px;
  }

  .member {
    background-color: white;
   width: 306px;
   margin: 0 30px;
    top: 165px;
   
    &__img {
      &--main{
        width: 100%;
        height: 365px;
        object-fit: cover;
      } 
      &--left{
        cursor: pointer;
        position: absolute;
        width: 64px;
        height: 64px;
        top: 188px;
        left: -33px;
      
      } 
      &--right{
        cursor: pointer;
        position: absolute;
        width: 64px;
        height: 64px;
        top: 188px;
        right: -33px;
      }
    }
    &__name {
 
   
      @include title();
      font-size: 1.8rem;
      color: $color--black;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    &__lv {
      font-size: 1.6rem;
      opacity: 0.6;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.button {
  .space {
    position: relative;
    width: 100%;
    height: 94px;
    span {
      position: absolute;
      font-weight: 600;
      font-size: 14px;
      color: rgb(40, 177, 58);
      bottom: 15px;
      right: 69px;
    }
    img {
      width: 64px;
      height: 64px;
      position: absolute;
      bottom: -10px;
      right: 0;
    }
  }
}
.footer {
.introduce{
  width: 100%;
  margin-top: 10px;
  background-color: rgb(243, 243, 243);;
  
  &__top{
    position: relative;

    img{
      width: 100%;
      height: 150px;
      object-fit: cover;

    }
    &--inside{

    }
    &--avata{
      img{
        position: absolute;
        top:10px;
        left: 10px;
        width: 54px;
        height: 54px;
        object-fit: cover;
      }
    }
    &--title{
      position: absolute;
      top: 10px;
      left: 72px;
      font-size: 16px;
      font-weight: 600;
      color: $color--white;

    }
    &--like{
      font-size: 13px;
      color: $color--white;
      position: absolute;
      top: 31px;
      left: 72px;
    }
    &--left{
      border-radius: 4px;
      cursor: pointer;
      padding:3px 10px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 16px;
     
      background-color: rgb(243, 243, 243);
      display: inline-block;
      font-weight: 600;
      i{ 
        color: #0D8CF0;
      }
    }
    &--right{
      border-radius: 4px;
      cursor: pointer;
      padding:3px 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 16px;
      font-weight: 600;
      background-color: rgb(243, 243, 243);
      display: inline-block;

    }
    
  }

  .mask{
    margin:7px 7px; 
       background-color: white;
    .like{
      padding-left: 10px;
      padding-top:10px;
        font-size: 14px;
        font-weight: 600;
      
    }
    .person{
   
     justify-content: center;
      display: flex;
      flex-wrap: wrap;
      img{
        margin-top: 5px;
        object-fit: cover;
        width: 34px;
        height: 34px;
      }
    }
  }


}

  .partner {
    &__margin{
      margin-left: 35px;
    }
    &__title {
      @include title();
      text-transform: none;
      font-size: 20px;
      color: rgb(41, 60, 141);
      margin-bottom: 15px;
    }
    &__logo {
      img {
        width: 177px;
        margin-top: 15px;
      }
    }
  }
  .ruler {
    width: 100px;
    height: 2px;
    background-color: rgb(151, 151, 151);
  }
  .view{
   max-width: 80%;
    font-weight: 600;
    margin-top: 20px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
  }
  .contact{
    &__info{
      &--title{
        margin-top: 15px;
        font-weight: 600;
        font-family: fontT;
        font-size: 16px;
        color: rgb(143, 25, 130);
    
      }

      &--home{

        font-weight: 600;
      font-size: 14px;
    color:black;
  margin-top: 10px;      }
    }

  }
}


// slide
  
.slider-container{
    
  height: 417px;
  width:100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  right: -216px;
  top: 13px;
  z-index: 3;
  width: 100%;
 
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: solid 1px rgba(0, 0, 0, 0.07);
  background: rgb(228, 226, 226);
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: all .3s ease;
  &:hover {
    background: $color--hover;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 2;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("./img/eventmini1.jpg");
}
.slide-2 {
  background-image: url("./img/eventmini2.jpg");
  background-size: cover;
}
.slide-3 {
  background-image: url("./img/eventmini3.jpg");
  background-size: cover;
}
.slide-4 {
  background-image: url("./img/eventmini4.jpg");
  background-size: cover;
}
.slide-5 {
  background-image: url("./img/eventmini5.jpg");
  background-size: cover;
}
.slide-6 {
  background-image: url("./img/eventmini6.jpg");
  background-size: cover;
}

// slide2






@media (min-width: 1200px) {
  .container {
    max-width: 1456px;
  }
}
@media(max-width: 1274px){
  .header{
    &__contact{
      display: none;

    }
    &__link{
        padding-left: 5%;
        padding-right: 5%;
        top: 10px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) and (min-width: 992px){
  .service{
    &__img{
      &--scope{
        width: 40px;
        height: 40px;
      }
      &--medical{
        width: 34px;
        height: 44px;
      }
    }
    &__content{
      &--title{
        font-size: 2rem ;
      }
    }
  }
  .tag{
      margin-top: 30px;
    &__rec{
      width: 60px!important;

    }
    &__title{
      font-size: 2rem!important;
      
    }
    
  }
  .new{
    .space{
      height: 60px;
    }
  }
 }

 @media (max-width: 991.98px) { 
  .header{
    &__link{
      display: none;   
     }
     &__logo{
       width: 195px;
     }
  }
  .tag{
    margin-top: 60px;
  }
  .new{
    margin-top: 20px;
    .menu{
      right: -179px;
    }
  }
  
    .partner{
      margin-top: 20px;
    }
  
  
}
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width